In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow.keras

2022-03-08 13:20:30.634266: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-03-08 13:20:30.634302: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [3]:
df = pd.read_csv('data.csv')

In [4]:
df.head()

,timestep_time,vehicle_0,vehicle_1,vehicle_10,vehicle_11,vehicle_12,vehicle_13,vehicle_14,vehicle_15,vehicle_16,...,vehicle_18,vehicle_19,vehicle_2,vehicle_3,vehicle_4,vehicle_5,vehicle_6,vehicle_7,vehicle_8,vehicle_9
0,100.0,12.84,9.42,11.74,12.81,11.99,7.00,11.71,4.61,4.10,...,10.97,12.89,11.85,12.66,10.04,13.69,11.17,12.75,7.41,13.19
1,101.0,12.91,9.14,12.49,12.80,10.87,7.00,11.30,4.30,3.81,...,10.83,12.50,10.96,12.31,9.93,13.14,11.73,11.99,8.27,13.90
2,102.0,12.89,9.49,12.74,13.11,11.41,6.43,11.05,5.10,3.46,...,11.83,11.73,11.18,12.64,9.99,12.84,11.11,11.87,7.40,13.02
3,103.0,13.45,8.37,11.98,13.16,11.94,6.27,11.38,4.26,3.34,...,11.89,12.85,10.83,12.05,9.58,13.31,12.06,11.78,7.94,13.97
4,104.0,13.86,8.30,12.98,12.80,11.99,7.08,11.22,4.07,3.09,...,11.03,12.93,11.19,12.14,10.24,12.73,11.16,11.81,7.62,13.77

In [5]:
df.drop(columns=['timestep_time'], axis=1, inplace=True)

In [6]:
df

,vehicle_0,vehicle_1,vehicle_10,vehicle_11,vehicle_12,vehicle_13,vehicle_14,vehicle_15,vehicle_16,vehicle_17,vehicle_18,vehicle_19,vehicle_2,vehicle_3,vehicle_4,vehicle_5,vehicle_6,vehicle_7,vehicle_8,vehicle_9
0,12.84,9.42,11.74,12.81,11.99,7.00,11.71,4.61,4.10,3.16,10.97,12.89,11.85,12.66,10.04,13.69,11.17,12.75,7.41,13.19
1,12.91,9.14,12.49,12.80,10.87,7.00,11.30,4.30,3.81,2.99,10.83,12.50,10.96,12.31,9.93,13.14,11.73,11.99,8.27,13.90
2,12.89,9.49,12.74,13.11,11.41,6.43,11.05,5.10,3.46,3.45,11.83,11.73,11.18,12.64,9.99,12.84,11.11,11.87,7.40,13.02
3,13.45,8.37,11.98,13.16,11.94,6.27,11.38,4.26,3.34,4.02,11.89,12.85,10.83,12.05,9.58,13.31,12.06,11.78,7.94,13.97
4,13.86,8.30,12.98,12.80,11.99,7.08,11.22,4.07,3.09,3.24,11.03,12.93,11.19,12.14,10.24,12.73,11.16,11.81,7.62,13.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1395,12.80,8.37,11.77,13.49,11.75,6.90,10.91,4.38,4.12,2.90,11.09,12.89,11.01,12.59,9.39,12.89,11.50,12.02,8.67,13.94
1396,13.59,9.19,12.76,13.05,11.26,6.41,11.44,5.17,3.81,3.30,9.79,11.89,11.41,12.94,9.84,12.75,11.37,12.77,8.40,13.62
1397,13.04,9.43,12.36,13.57,11.60,6.28,11.33,4.17,3.46,3.98,10.84,11.84,11.51,12.48,10.44,13.72,11.18,12.09,8.46,13.20
1398,13.67,9.19,12.27,13.24,11.17,6.96,10.77,4.15,3.54,3.95,10.88,12.87,11.63,12.89,9.56,13.05,11.55,12.29,8.25,13.62
1399,13.57,8.31,12.96,13.50,10.73,6.63,11.91,4.59,3.09,3.15,11.95,12.77,11.24,12.56,9.75,13.47,11.01,12.28,7.70,13.69

In [16]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
vehicle_0,1400.0,13.348757,0.375046,12.70,13.0300,13.340,13.6800,14.00
vehicle_1,1400.0,8.868500,0.378103,8.01,8.5300,8.900,9.1900,9.52
vehicle_10,1400.0,12.329486,0.369607,10.92,12.0100,12.320,12.6400,13.00
vehicle_11,1400.0,13.339271,0.377056,12.70,13.0100,13.335,13.6700,14.00
vehicle_12,1400.0,11.358564,0.373855,10.49,11.0600,11.370,11.6800,12.00
vehicle_13,1400.0,6.540300,0.375434,5.44,6.2200,6.540,6.8625,7.18
vehicle_14,1400.0,11.355479,0.375814,10.70,11.0300,11.360,11.6700,12.00
vehicle_15,1400.0,4.697221,0.378865,4.05,4.3700,4.680,5.0300,5.35
vehicle_16,1400.0,3.483036,0.372012,2.82,3.1600,3.490,3.8000,4.12
vehicle_17,1400.0,3.438271,0.371565,2.78,3.1300,3.450,3.7600,4.08
vehicle_18,1400.0,11.341793,0.425233,7.90,11.0300,11.360,11.6900,12.00
vehicle_19,1400.0,12.339771,0.376329,10.83,12.0375,12.340,12.6625,13.00
vehicle_2,1400.0,11.326664,0.377733,9.14,11.0100,11.300,11.6600,12.00
vehicle_3,1400.0,12.331193,0.394158,10.75,11.9800,12.310,12.6825,13.00
vehicle_4,1400.0,9.789707,0.372072,8.72,9.4675,9.800,10.1100,10.46
vehicle_5,1400.0,13.352107,0.377000,12.55,13.0200,13.360,13.6800,14.00
vehicle_6,1400.0,11.491243,0.386761,10.19,11.1600,11.500,11.8300,12.14
vehicle_7,1400.0,12.372843,0.379962,10.96,12.0500,12.400,12.7100,13.00
vehicle_8,1400.0,8.029671,0.380007,7.38,7.6900,8.040,8.3500,8.68
vehicle_9,1400.0,13.348021,0.381648,11.38,13.0200,13.350,13.6800,14.00

In [17]:
from sklearn.preprocessing import Normalizer
import pandas as pd
from typing import List

class VectorNormalizer:
    """
    provided methods to fit, transform and inverse transform 2-D arrays 
    transformation applied: x/ L2 norm of X =>
    """
    def __init__(self) -> None:
        """
        intialize attributes
        """
        self.norms = []
        self.inverse_transformed = []
        self.transformed = []

    def fit(self, dataframe) -> List[int]:
        """
        calculates norms of all row vectors in the dataframe

        returns: list of norms
        """
        for item in dataframe.to_numpy():
            self.norms.append(np.sqrt(np.sum(np.square(item))))
        
        return self.norms

    def transform(self, dataframe) -> pd.DataFrame():
        """
        performs vector normalization

        returns: original dataframe after normalization
        """        
        for idx, item in enumerate(dataframe.to_numpy()):
            self.transformed.append(item/self.norms[idx])
        
        return pd.DataFrame(self.transformed)


    def inverse_transform(self, inverse_transformed_df) -> pd.DataFrame():
        """
        calculates product of norms of all row vectors with row vectors in the dataframe

        returns: original dataframe after transformations
        
        """
        for idx, item in enumerate(inverse_transformed_df.to_numpy()):
            self.inverse_transformed.append(item * self.norms[idx])
        
        return pd.DataFrame(self.inverse_transformed)


scaler = VectorNormalizer()
norms = scaler.fit(df)

In [ ]:
df_scale = scaler.transform(df_speed)

In [12]:
model_1 = df.loc[:, 'vehicle_0']
model_2 = df.loc[:, 'vehicle_1']
model_3 = df.loc[:, 'vehicle_2']
model_4 = df.loc[:, 'vehicle_3']

model_5 = df.loc[:, 'vehicle_4']
model_6 = df.loc[:, 'vehicle_5']
model_7 = df.loc[:, 'vehicle_6']
model_8 = df.loc[:, 'vehicle_7']

model_9 = df.loc[:, 'vehicle_8']

model_10 = df.loc[:, 'vehicle_9']
model_11 = df.loc[:, 'vehicle_10']
model_12 = df.loc[:, 'vehicle_11']
model_13 = df.loc[:, 'vehicle_12']

model_14 = df.loc[:, 'vehicle_13']
model_15 = df.loc[:, 'vehicle_14']
model_16 = df.loc[:, 'vehicle_15']
model_17 = df.loc[:, 'vehicle_16']

model_18 = df.loc[:, 'vehicle_17']
model_19 = df.loc[:, 'vehicle_18']
model_20 = df.loc[:, 'vehicle_19']